{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RoyalBlog</title>
    <link href="{% static 'new/Royalblog.css' %}" type="text/css" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <a href="#home">Home</a>
        <a href="#Blog">Services</a>
        <a href="#Blog">About</a>
        <a href="#Blog">Contact</a>
        <a href="{% url 'new:dashboard' %}">Dashboard</a>
    </nav>
    
    <div class="topbox" >
        <!--<div class="slideshowtext">
            <p>Trending Highlights</p>
        </div>-->
        <div class="slideshow">
            {% for slo in sliders %}
                <div class="cint ">
                    <img class="slide " src="{% static '{slo.src}' %}" alt="" >
            
                    <div class="content">
                        <h1 class="head">{{slo.head}}</h1>
                        <p class="paragraph">{{slo.paragraph}}</p><br><br>
                            <div class="button"><span><a href="#">Read more</a> </span></div>
                        
                    </div>
            
                </div>
            {% endfor %}
            
            <a class="prev"  onclick="plusSlides(-1)">&#10094;</a>
            <a class="next"  onclick="nextSlide()">&#10095;</a>
            
        </div>
        

        <div id="dot">
            <span class="dot active"></span> 
            
        </div>
        
    </div>
    
    

    
   
    <script>
        

        var myVar = setInterval(change, 2000);
        
        var slideIndex = 1;
        var dots = document.getElementsByClassName("dot");
        var slide = document.getElementsByClassName("slide");
        var content = document.getElementsByClassName("content");

        var cont =  [];
        var slides = [];

        for (let i = 0; i < slide.length; i++){
            cont.push(content[i].innerHTML);
            slides.push(slide[i].src);

            if (dots.length < slide.length){
                for (let i = 1; i < slide.length; i++){
                    const tag = document.createElement("span");
                    tag.className = "dot";
                    const divAdd = document.getElementById("dot");
                    divAdd.appendChild(tag);
                };
            };

            slide[i].addEventListener("mouseover", function(){clearInterval(myVar)});
            slide[i].addEventListener("mouseout", function(){myVar = setInterval(change, 2000)});
            content[i].addEventListener("mouseover", function(){clearInterval(myVar)});
            content[i].addEventListener("mouseout", function(){myVar = setInterval(change, 2000)});
        };

        

        function change(){
            var z = slides.length - 1;
            if (slideIndex == slides.length) {slideIndex = 0;};
            
            for (let i = 0; i < slides.length; i++){
                if (z == 0){z = slides.length};
                slide[slides.length - z ].src = slides[i];
                content[slides.length - z ].innerHTML = cont[i];
                dots[i].className = dots[i].className.replace(" active", "");
                z-- ;
            };

            dots[slideIndex].className += " active";
            slideIndex++;
            slides.unshift(slides.pop());
            cont.unshift(cont.pop());
        };

     

        function plusSlides(u) {
            clearInterval(myVar);
            
            showSlides(slideIndex += u);

            myVar = setInterval(change, 2000);
        };

        

        function nextSlide(){
            clearInterval(myVar);
            
            change();

            myVar = setInterval(change, 2000);
        }

        function showSlides(n) {
            var x = slide.length - 1;
            if (n > slides.length) {slideIndex = 1};
            if (n < 1) {slideIndex = slides.length};
            
            for (let i = 0; i < slide.length; i++) {
                if (x == slides.length){x = 0};
                slide[i].src = slides[slide.length - x];
                content[i].innerHTML = cont[slides.length - x ];
                dots[i ].className = dots[i].className.replace(" active", "");
                x-- ;
            };

            dots[slideIndex-1].className += " active";
            slides.push(slides.shift());
            cont.push(cont.shift());
            
        };
            
    </script>
    

</body>
</html>
